@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  padding-left: 15px;
}

.controls {
  display: block;
}

.tool {
  display: block;
  float: right;
  clear: right;
}

@media (max-width: 1200px) {
  .row {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  #leftBar {
    order: 1;
  }
  #content {
    order: 3;
  }
  #rightBar {
    order: 2;
  }
  
  #controls {
    
  }
  
  .tools {
    position: relative;
    top: 150px;
  }
  
  .tool {
    display: inline;
    float: none;
    clear: none;
  }
}

@media (max-width: 768px) {
  .tools {
    top: 0px;
  }
  
  .container {
    margin-right: auto;
    margin-left: 0;
  }
}