<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Real-Time Drawing App</title>
  <!-- Bootstrap & JQuery -->
  <link href="assets/custom.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/bootstrap.min.js"></script>
  <link rel="stylesheet" href="modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
  {{{body}}}
</body>
</html>